<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" href="css/detailmain.css" />
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container_wrap">
      <h1 class="category_name"></h1>
      <div class="container_main">
        <div class="table">
          <div class="talbe_column">
            <div class="th_img">이미지</div>
            <div class="th_title">제목</div>
            <div class="th_user">작성자</div>
            <div class="th_like">좋아요</div>
          </div>
          <div class="table_content"></div>
        </div>
        <div class="container_modify">
          <button class="postbtn" onclick="createPost()">생성</button>
        </div>
      </div>
      <%- include("./footer") %>
    </div>
  </body>
  <script src="/js/detailmain.js"></script>
</html>
