<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/footer.css" />
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <title>Document</title>
  </head>
  <body>
    
    <footer>
      <div class="footer_inner">
        <ul class="footer_link">
          <li>
            <a href="javascript:void(0);" onclick="subcategory()">
              <span class="text">이용약관</span></a>
          </li>
          <li>
            <a href="javascript:void(0);" onclick="subcategory()">
              <span class="text"><strong>개인정보처리방침</strong></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" onclick="subcategory()">
              <span class="text">책임의 한계와 법적고지</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" onclick="subcategory()">
              <span class="text">회원정보 고객센터</span>
            </a>
          </li>
        </ul>
        <div class="footer_right">
          <div>
            <a href="/" class="footer_logo">Gather</a>
          </div>
          <div>
            <span class="text">Copyright</span>
            <span class="text corp">© Gather Corp.</span>
            <span class="text">All Rights Reserved.</span>
            </span>
          </div>
        </div>
      </div>
    </footer>


  </body>

  <script>
    
  </script>
</html>
