<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container_footer">
      <div>이용약관</div>
      <div>커뮤니티 운영정책</div>
      <div>개인정보처리방침</div>
      <div>게시글 중단 요청 서비스</div>
    </div>
  </body>
</html>
