<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>좋아요 한 글</title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <!-- local css -->
    <link rel="stylesheet" href="/css/mypage_common.css" />
    <link rel="stylesheet" href="/css/likedpage.css" />
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="both_container">

        <div class="side_bar_container">
          <div class="side_bar_subcontainer">
            <div class="sidebar_x_btn" onclick="exit_sideBar()">
              <span></span>
              <span></span>
            </div>
            <ul>
              <li>
                <a href="/mypage">
                  <div class="menu_text bold01">내 정보관리</div>
                </a>
              </li>
              <li>
                <a href="/mypage/likedpage">
                  <div class="menu_text bold02">좋아요 한 글</div>
                </a>
              </li>
              <li>
                <a href="/mypage/view_mypost">
                  <div class="menu_text bold03">내가 작성한 글</div>
                </a>
              </li>
            </ul>
            <footer>
              <ul class="left_guide">
                <li>
                  <a href="#">
                    <div class="footer_text" onclick="YesOrNo()">로그아웃</div>
                  </a>
                </li>
                <li class="footer_b">
                  <a href="#">
                    <div class="footer_text" onclick="ready()">고객센터</div>
                  </a>
                </li>
                <li class="footer_b">
                  <a href="#" class="item_arrow" onclick="ready()">
                    <div class="footer_text">한국어</div>
                  </a>
                </li>
              </ul>
            </footer>
          </div>
        </div>

        <% include mypage_common.ejs %>

        <div class="m_left_container">
          <div class="m_left_header_logo">
            <a href="/">
              <h1 class="m_left_header_logo_content">
                <span>Gather</span>
              </h1>
            </a>
            <a class="menu-trigger" href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </div>

        <div class="right_container">
          <!-- <div>좋아요 한 글목록</div> -->
          <table>
            <thead>
              <tr class="table_title">
                <th class="count">번호</th>
                <th class="title">제목</th>
                <th class="writer">작성자</th>
                <th class="crationDate">작성날짜</th>
                <th class="views">조회수</th>
              </tr>
            </thead>
            <tbody class="inputData">
              <tr class="tbody_data">
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </body>
  <script src="/js/likedpage.js"></script>
</html>
