<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>

    <div class="login-container">

      <div class="login-title">로그인</div>
      <input type="text" class="input-box" id="id" name="id" placeholder="아이디" value="" />
      <input type="password" class="input-box" id="password" name="pass" placeholder="비밀번호" value="" />
      <input type="checkbox" name="saveId" id="saveId">
      <label for="saveId">아이디 저장</label>
      <div class="content01"></div>
      <div class="content02"></div>
      <button class="login-btn" type="button" disabled>로그인</button>

      <div class="links">
        <a href="/findId">아이디 찾기</a>
        <a href="/findPw">비밀번호 찾기</a>
        <a href="/join">회원가입</a>
      </div>

    </div>

  </body>

  <script src="/js/login.js"></script>
</html>
