<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="container_header">
        <div class="main_logo">
          <h1 onclick="main_reload()">Gather</h1>
        </div>
        <div class="sidemenu">
          <div class="sidemenu_menu" onclick="menubar()">
            <img class="imgstyle" src="/images/menu.png" alt="menu" />
          </div>
          <div class="welcome"></div>
        </div>
      </div>
      <!-- menu click content -->
      <div class="header_menu"></div>

      <!-- today topic -->
      <div class="today_menu">
        <h2>최신 글</h2>
        <div class="today_content">
          <!-- main -->
          <div class="today_main"></div>
          <!-- sub -->
          <div class="today_sub"></div>
        </div>
      </div>

      <!-- main - food -->
      <div class="container_main">
        <h2>맛집 베스트 이야기</h2>
        <div class="main_cards"></div>
      </div>

      <!-- 3열 게시판 -->
      <div class="container_submain">
        <div class="submain_section_1">
          <div class="submain_table">
            <div class="submain_title">
              <div>전체 게시판</div>
              <div class="moreview" onclick="allpostview()">더보기</div>
            </div>
            <div class="submain_content_all"></div>
          </div>
        </div>
        <div class="submain_section_2">
          <div class="submain_table">
            <div class="submain_title">
              <div>자유 게시판</div>
              <div class="moreview" onclick="freepostview()">더보기</div>
            </div>
            <div class="submain_content_free"></div>
          </div>
        </div>

        <div class="submain_section_3">
          <div class="submain_table">
            <div class="submain_title">
              <div>뉴스 게시판</div>
              <div class="moreview" onclick="newspostview()">더보기</div>
            </div>
            <div class="submain_content_news"></div>
          </div>
        </div>
      </div>
      <%- include("./footer") %>
    </div>
  </body>
  <script src="/js/main.js"></script>
</html>
