<div class="left_container">
  <div class="header_logo">
    <a href="/">
      <h1 class="header_logo_content">
        <span>Gather</span>
      </h1>
    </a>
  </div>
  <div class="profile_area">
    <ul>
      <li>
        <a href="/mypage">
          <div class="menu_text bold01">내 정보관리</div>
        </a>
      </li>
      <li>
        <a href="/mypage/likedpage">
          <div class="menu_text bold02">좋아요 한 글</div>
        </a>
      </li>
      <li>
        <a href="/mypage/view_mypost">
          <div class="menu_text bold03">내가 작성한 글</div>
        </a>
      </li>
    </ul>
    <footer>
      <ul class="left_guide">
        <li>
          <a href="#">
            <div class="footer_text">로그아웃</div>
          </a>
        </li>
        <li class="footer_b">
          <a href="#">
            <div class="footer_text">고객센터</div>
          </a>
        </li>
        <li class="footer_b">
          <a href="#" class="item_arrow">
            <div class="footer_text">한국어</div>
          </a>
        </li>
      </ul>
    </footer>
  </div>
</div>