<div class="left_container">
  <div class="header_logo">
    <a href="/">
      <h1 class="header_logo_content">
        <span>Gather</span>
      </h1>
    </a>
  </div>
  <div class="profile_area">
    <ul>
      <li>
        <a href="/mypage">
          <div class="menu_text bold01">내 정보관리</div>
        </a>
      </li>
      <li>
        <a href="/mypage/likedpage">
          <div class="menu_text bold02">좋아요 한 글</div>
        </a>
      </li>
      <li>
        <a href="/mypage/view_mypost">
          <div class="menu_text bold03">내가 작성한 글</div>
        </a>
      </li>
    </ul>
    <footer>
      <ul class="left_guide">
        <li>
          <a href="#">
            <div class="footer_text" onclick="YesOrNo()">로그아웃</div>
          </a>
        </li>
        <li class="footer_b">
          <a href="#">
            <div class="footer_text" onclick="ready()">고객센터</div>
          </a>
        </li>
        <li class="footer_b">
          <a href="#" class="item_arrow" onclick="ready()">
            <div class="footer_text">한국어</div>
          </a>
        </li>
      </ul>
    </footer>
  </div>
</div>

<script>
  // 로그아웃 하시겠습니까?
  const YesOrNo = () => {
    const isConfirmed = confirm("로그아웃 하시겠습니까?");

    if (isConfirmed) {
        logoutFunc();
    } else {
        return;
    }
  }

  // 로그아웃
  const logoutFunc = () => {
    // 쿠키 삭제
    document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    // 페이지 새로고침
    // window.location.reload();
    window.location.href = "http://localhost:3000";
  };

  // 준비중입니다
  const ready = () => {
    alert('준비중 입니다.');
  }

</script>