<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script> -->
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script> -->
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="view_info"></div>
  </body>

  <!-- <script>
    const view_info = document.querySelector(".view_info");

    var naver_id_login = new naver_id_login("Ck5wKX1f6oVy4LIJ8Etp", "http://localhost:3000/naver_login");
    // 접근 토큰 값 출력
    // alert(naver_id_login.oauthParams.access_token);
    // 네이버 사용자 프로필 조회
    naver_id_login.get_naver_userprofile("naverSignInCallback()");

    
    // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
    function naverSignInCallback() {
      const email = naver_id_login.getProfileData("email");
      const name = naver_id_login.getProfileData("name");
      const gender = naver_id_login.getProfileData("gender");
      // const birthyear = naver_id_login.getProfileData("birthyear"); // 1999
      // console.log(birthyear);
      const birthday = naver_id_login.getProfileData("birthday"); // 09-10
      // const mobile = naver_id_login.getProfileData("mobile");

      // const birth = `${birthyear}-${birthday}`;

      let data = {
        email: email,
        name: name,
        gender: gender,
        birthday: birthday,
        signup_method: 'naver',
      };

      axios({
        method: "post",
        url: "/naver_login",
        data: data,
      })
        .then((res) => {
          console.log(res.data);
          if (res.data.result) {
            alert('네이버 로그인 성공');
            window.opener.location.href = 'http://localhost:3000';
            window.close();
          } else {
            alert('네이버 로그인 실패')
            window.opener.location.href = 'http://localhost:3000/login';
            window.close();
          }
        })
        .catch((e) => {
          console.log("오류 : ", e);
        });
    }
  </script> -->

  <script>
    /* (3) 네아로 설정 정보 및 초기화 */
    window.name = "opener";
    var naverLogin = new naver.LoginWithNaverId({
      clientId: "Ck5wKX1f6oVy4LIJ8Etp",
      callbackUrl: "http://localhost:3000/naver_login",
      isPopup: true,
      callbackHandle: true,
    });

    /* (4) 네아로 로그인 정보를 초기화하기 위하여 init을 호출 */
    naverLogin.init();

    /* (4-1) 임의의 링크를 설정해줄 필요가 있는 경우 */
    // $("#gnbLogin").attr("href", naverLogin.generateAuthorizeUrl());

    /* (5) 현재 로그인 상태를 확인 */
    window.addEventListener("load", function () {
      naverLogin.getLoginStatus(function (status) {
        if (status) {
          // let profileImage = naverLogin.user.getProfileImage();
          let email = naverLogin.user.getEmail();
          let name = naverLogin.user.getName();
          let gender = naverLogin.user.getGender();
          let birthYear = naverLogin.user.getBirthyear();
          let birthDay = naverLogin.user.getBirthday();
          let mobile = naverLogin.user.getMobile();

          const birth = `${birthYear}-${birthDay}`;

          let data = {
            email: email,
            name: name,
            gender: gender,
            birthday: birth,
            phoneNumber: mobile,
            signup_method: "naver",
          };

          axios({
            method: "post",
            url: "/naver_login",
            data: data,
          })
            .then((res) => {
              console.log(res.data);
              if (res.data.result) {
                alert("네이버 로그인 성공");
                window.opener.location.href = "http://localhost:3000";
                window.close();
              } else {
                alert("네이버 로그인 실패");
                window.opener.location.href = "http://localhost:3000/login";
                window.close();
              }
            })
            .catch((e) => {
              console.log("오류 : ", e);
            });
        }
      });
    });
  </script>
</html>
