<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/post.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("./header") %>
    <div class="container_wrap">
      <div class="container_main">
        <!-- top -->
        <div class="main_top">
          <div class="main_top_btn">
            <div class="postModify_btn">
              <button class="modifybtn" onclick="post_modify()">수정</button>
              <button class="deletebtn" onclick="post_delete()">삭제</button>
            </div>

            <div class="postMove_btn">
              <button onclick="postMove_pre()">이전글</button>
              <button onclick="postMove_next()">다음글</button>
              <button onclick="postlist()">목록</button>
            </div>
          </div>
        </div>
        <div class="main_content"></div>
        <!-- bottom -->
        <div class="main_bottom">
          <button class="wrtieMove_btn" onclick="writePage()">글쓰기</button>
          <button class="top_btn">TOP</button>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/post.js"></script>
</html>
