<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!-- local css -->
  <link rel="stylesheet" href="/css/mypage_common.css">
  <link rel="stylesheet" href="/css/view_mypost.css">
  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

  <div class="container">

    <div class="both_container">
      <% include mypage_common.ejs %>

      <div class="right_container">
        <div class="subRight_container">
          
        </div>

      </div>

    </div>


  </div>


</body>
<script src="/js/view_mypost.js"></script>

</html>