/* 전체 컨테이너 스타일 */
.container_wrap {
  max-width: 1280px;
  margin: 80px auto 0 auto;
  padding: 20px;
  background-color: #ffffff;
}

/* 제목 스타일 */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* 테이블 스타일 */
.table {
  width: 100%;
  border-collapse: collapse;
  background: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
}
.td_row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

/* 테이블 헤더 스타일 */
.talbe_column {
  display: flex;
}
.th_img,
.th_title,
.th_user,
.th_like,
.th_show {
  background-color: #4b89dc;
  color: white;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

/* 테이블 데이터 스타일 */

.table_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.td_img,
.td_title,
.td_like,
.td_user {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #444;
}
.th_img,
.td_img,
.th_user,
.th_like,
.td_user,
.td_like,
.th_show,
.td_show {
  width: 10%;
}
.th_title,
.td_title {
  width: 60%;
}
.td_title {
  display: flex;
  justify-content: left;
}
.td_like,
.td_user,
.td_show {
  display: flex;
  justify-content: center;
}

/* 이미지 셀 스타일 */
.imgstyle {
  width: 100%;
  height: 100%;
}

.table_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0px auto;
}
/* 테이블 행 호버 효과 */
.td_row:hover {
  background-color: #cbddf5;
  transition: background-color 0.3s ease;
}

.container_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: #f6f6f6;
  gap: 20px;
  font-size: 12px;
}
/* 버튼 컨테이너 스타일 */
.container_modify {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin: 20px 0px;
}

/* 버튼 기본 스타일 */
.postbtn {
  background-color: #4b89dc;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.table_img > img {
  border-radius: 10px;
}

.pagination {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagi_btn {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: white;
  background-color: #cbddf5;
  border: none;
}
.pagination > :first-child {
  background-color: #4b89dc; /* 첫 번째 요소의 배경색 변경 */
}

.text {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -.5px;
  color: #888;
}