a {
  text-decoration: none;
  color: #333;
}

footer {
  padding: 48px 0 32px;
  box-sizing: border-box;
  margin: 100px 0 36px 0;
}

.footer_inner {
  position: relative;
  text-align: center;
}

.footer_link li {
  display: inline-block;
}

.footer_link li + li {
  position: relative;
  padding-left: 13px;
  font-size: 12px;
}

.footer_link li + li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 1px;
  height: 11px;
  background-color: #dadada;
}

.corp {
  padding: 0 2px;
  font-weight: 500;
  color: #000;
}

.footer_right {
  display: flex;
  justify-content: center;
  margin-top: 9px;
}

.footer_logo {
  color: #4b89dc;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-right: 3px;
}

@media (max-width: 552px) {
  footer {
    margin: 0 auto;
    margin-top: 58px;
  }

  .footer_link {
    padding: 0;
  }

}

@media (max-width: 448px) {
  .footer_inner {
    width: 259px;
  }


}
