table,
thead,
tr,
th,
td {
  border-collapse: collapse;
  text-align: center;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #eee;
  background-color: #fff;
}

td, th {
  border : none;
}

table {
  width: 100%;
}

.bold02 {
  position: relative;
  font-weight: 700;
  color: #1e1e23;
}

.bold02::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #1e1e23;
  border-radius: 1px;
}

.side_bar_container {
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 15;
  background-color: #fff;
  width: 300px;
  height: 100%;
  transition: 0.3s;
}

.side_bar_container.active {
  right: 0;
}

.side_bar_subcontainer {
  width: 100%;
  height: 100%;
  padding: 70px 40px;
  position: relative;
  box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, .08);
}

.side_bar_subcontainer li {
  margin-top: 30px;
}

.sidebar_x_btn {
  position: absolute;
  top: 21px;
  right: 40px;
  z-index: 16;
  width: 27px;
  height: 22px;
  cursor: pointer;
}

.sidebar_x_btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #4B89DC;
  border-radius: 4px;
}

.sidebar_x_btn span:nth-of-type(1) {
  transform: translateY(11px) rotate(-45deg);
}

.sidebar_x_btn span:nth-of-type(2) {
  transform: translateY(-7px) rotate(45deg);
  top: 17px;
}

.m_left_container {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  background-color: #fff;
  box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, .08);
  z-index: 10;
}

.m_left_header_logo {
  width: 100%;
  height: 100%;
  padding: 17px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m_left_header_logo_content {
  font-size: 32px;
  color: #4B89DC;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 27px;
  height: 22px;
  z-index: 20;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #4B89DC;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 9px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.right_container {
  display: table-cell;
  width: 100%;
  height: 100%;
  background-color: #fafbfc;
  padding: 56px 10px 56px 60px;
  /* margin-top: 64px; */
}

.table_title {
  height: 54px;
  border-top: 2px solid #7EAAE6;
  border-bottom: 2px solid #7EAAE6;
}

.count {
  width: 10%;
}

.title {
  width: 44%;
}

.writer {
  width: 10%;
}

.crationDate {
  width: 13%;
}

.views {
  width: 10%;
}

.tbody_data {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 54px;
}

.cont_title a {
  color: #4B89DC;
}

@media (max-width: 1200px) {
  .both_container {
    width: 1024px;
  }

  .right_container {
    padding: 56px 30px 56px 30px;
  }

  .subRight_container {
    width: 568px;
  }
}

@media (max-width: 1024px) {
  .both_container {
    width: 100%;
  }

  .left_container {
    display: none;
  }

  .m_left_container {
    display: block;
  }

  .right_container {
    padding: 127px 60px 30px 60px;
  }

  .subRight_container {
    width: 100%;
  }
}

@media (max-width: 653px) {
  .m_left_header_logo {
    padding: 17px 20px;
  }

  .right_container {
    padding: 94px 20px 30px 20px;
  }
}