table,
thead,
tr,
th,
td {
  border-collapse: collapse;
  text-align: center;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #eee;
  background-color: #fff;
}

td, th {
  border : none;
}

table {
  width: 100%;
}

.bold02 {
  position: relative;
  font-weight: 700;
  color: #1e1e23;
}

.bold02::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #1e1e23;
  border-radius: 1px;
}

.right_container {
  display: table-cell;
  width: 100%;
  height: 100%;
  background-color: #fafbfc;
  padding: 56px 10px 0 60px;
  /* margin-top: 64px; */
}

/* .subRight_container {
  position: relative;
  padding: 16px 17px 0;
  border-radius: 12px;
  box-shadow: 2px 2px 14px 0 rgba(0, 164, 73, .08);
  border: solid 1px #98BBEB;
  background-color: #fff;
  box-sizing: border-box;
  width: 694px;
} */

.table_title {
  height: 54px;
  border-top: 2px solid #7EAAE6;
  border-bottom: 2px solid #7EAAE6;
}

.count {
  width: 10%;
}

.title {
  width: 58%;
}

.writer {
  width: 10%;
}

.crationDate {
  width: 12%;
}

.views {
  width: 10%;
}

.tbody_data {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 54px;
}

.cont_title a {
  color: #4B89DC;
}
