* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

div {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  background: 0 0;
  /* font-family: "Pretendard-Regular", sans-serif; */
}

h1, h2, h3,
ul,
p,
li {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

input {
  border-radius: 0;
  border: none;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-size-adjust: none;
}

body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  margin: 0;
}

.saveId_label::before {
  background-image: url(../images/login.png);
  background-size: 336px 330px;
  background-repeat: no-repeat;
}

header {
  padding-bottom: 48px;
  box-sizing: border-box;
}

.header_container {
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.login_logo {
  display: inline-block;
  margin-top: 108px;
  vertical-align: top;
  background-position: 0 -51px;
  background-repeat: no-repeat;
  width: 155px;
  height: 30px;
}

.login_wrap {
  width: 460px;
  margin: 0 auto;
  box-sizing: border-box;
  letter-spacing: -.5px;
  background-color: #fff;
  border: 1px solid #e1e3e5;
  border-radius: 12px;
  padding: 24px;
}

.login_box {
  position: relative;
}

.input_item {
  position: relative;
  padding: 27px 15px 8px;
  border: 1px solid #c5ccd2;
  border-radius: 8px;
  box-sizing: border-box;
  z-index: 1;
}

.input_id {
  height: 60px;
  border-radius: 8px 8px 0 0;
}

.input_pw {
  height: 59px;
  border-top: 0;
  border-radius: 0 0 8px 8px;
}

.input-box {
  position: relative;
  display: block;
  width: 100%;
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -.2px;
  color: #1e1e23;
  z-index: 5;
}

.text_label {
  display: inline-block;
  position: absolute;
  bottom: 18px;
  left: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -.2px;
  transition: all .3scubic-bezier(.4,0,.2,1);
  color: rgba(0, 0, 0, .38);
  pointer-events: none;
  box-sizing: border-box;
  z-index: 5;
}

.saveId_wrap {
  position: relative;
  margin-top: 12px;
  padding: 0 90px 0 26px;
}

.saveId_label {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #767678;
}

.saveId_label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-position: -292px -236px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
}

.content01, .content02 {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.login-btn {
  width: 100%;
  padding: 13px 20px;
  background-color: #fff;
  color: #09aa5c;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #09aa5c;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

/* .login-btn:hover {
  background-color: #f6fffb;
} */

.login-btn:disabled {
  background-color: #a5adb8;
  cursor: default;
  font-weight: 400;
  border: none;
  color: #fff;
}

#naver_id_login {
  display: none;
}

#naverLoginCostom {
  position: relative;
  width: 100%;
  padding: 13px 20px;
  background-color: rgb(3, 199, 90);
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

#naverLoginCostom::before {
  position: absolute;
  content: "";
  width: 30px;
	height: 30px;
	margin-left: 10px;
	background: url('/images/btnG_naver_login_icon.png') no-repeat center;
	background-size: 30px;
  top: 7px;
  left: 0;
}


/* 아이디 찾기, 비밀번호 찾기, 회원가입을 한 줄에 정렬 */
.links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.links li+li {
  padding-left: 28px;
  position: relative;
}

.links li+li::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 12px;
  width: 1px;
  height: 12px;
  border-radius: .5px;
  background-color: #dadada;
}

.links a {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #888;
}

.links a:hover {
  text-decoration: underline;
}