* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
.today_menu {
  margin-top: 80px;
  padding: 0px 40px;
  width: 100%;
}
.today_content {
  display: flex;
  gap: 10px;
}
.today_main,
.today_sub {
  display: flex;
  height: 300px;
}
.today_main {
  display: flex;
  width: 50%;
}
.today_sub {
  display: flex;
  width: 50%;
  height: 100%;
  border-left: 2px solid #b1ccf0;
  flex-direction: column;
}
.today_main_title {
  padding-top: 20px;
  font-size: 22px;
  font-weight: bold;
}
.today_main_comment {
  padding: 0px 15px;
  flex-direction: column;
  width: 60%;
}
.today_main_content {
  padding-top: 10px;
  font-size: 14px;
}
.today_main_img {
  width: 40%;
}
.today_main_img > img {
  border-radius: 10px;
}

.today_sub_1,
.today_sub_2,
.today_sub_3 {
  width: 90%;
  height: 30%;
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer;
}
.today_sub_1,
.today_sub_2 {
  border-bottom: 1px solid #b1ccf0;
}

.today_sub_title {
  padding-left: 30px;
}
.today_sub_img {
  width: 90px;
  height: 90px;
}
.today_sub_img > img {
  border-radius: 10px;
}

.container_category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  gap: 30px;
  /* background-color: aqua; */
}
.today_more {
  display: flex;
  justify-content: right;
  font-size: 14px;
  cursor: pointer;
}

.container_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 40%;
  margin-top: 40px;
  padding: 0px 40px;
  /* background-color: bisque; */
}

.container_submain {
  display: flex;
  width: 100%;

  height: 400px;
  justify-content: center;
  gap: 20px;
  /* background-color: blue; */
  margin-top: 30px;
  padding: 0px 40px;
}

/*header*/
.imgstyle {
  width: 100%;
  height: 100%;
}
.login,
.signup {
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.login {
  padding-right: 10px;
}
/* main */
.card {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: space-between;
  border-bottom: 2px solid #b1ccf0;
  margin-bottom: 50px;
  cursor: pointer;
}
.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 10px 0px;
  gap: 5px;
}
.card_title {
  font-size: 20px;
  font-weight: bold;
}

.card_name {
  font-size: 14px;
}
.card_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_comment {
  font-size: 17px;
}
.card_img_style {
  width: 150px;
  height: 150px;
}
.card_img_style > img {
  border-radius: 10px;
}
/* submain */
.submain_section_1,
.submain_section_2,
.submain_section_3 {
  width: 33%;
  height: 250px;
}

.submain_title {
  display: flex;
  justify-content: space-between;
  color: #4b89dc;
  border-bottom: 1px solid #4b89dc;
}
.submain_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #7eaae6;
}

.submain_row_name {
  font-size: 12px;
}
.submain_content_row {
  padding: 7px 0px;
  cursor: pointer;
  font-size: 14px;
}
.search {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.search_input {
  width: 300px;
  border: none;
  border-bottom: 1px solid #4b89dc;
  padding: 5px;
  outline: none;
}
.search_select {
  display: flex;
  justify-content: center;
  border: none;
  padding: 5px;
}
.search_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  padding: 5px 8px;
  border-radius: 10px;
  background-color: #7eaae6;
  color: white;
  cursor: pointer;
}
