body {
  margin: 0;
  font-family: "Pretendard-Regular", sans-serif;
  /* overflow: hidden; */
  background-color: #fafbfc;
}

div {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  background: 0 0;
  font-family: "Pretendard-Regular", sans-serif;
}

input {
  font-family: "Pretendard-Regular", sans-serif;
}

h1, h2, h3,
ul,
p,
li {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  position: relative;
}

.both_container {
  position: relative;
  display: table;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  table-layout: fixed;
}

.both_container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  right: 0;
  height: 100%;
  width: 75%;
  background-color: #fff;
}

.left_container {
  height: 100vh;
  /* background-color: aquamarine;
  padding: 30px; */
  position: relative;
  display: table-cell;
  width: 395px;
  background-color: #fff;
  box-shadow: 5px 1px 8px 0 rgba(0, 0, 0, .06);
  border-left: 1px solid rgba(0, 0, 0, .08);
  vertical-align: top;
  z-index: 1;
}

.header_logo {
  height: 78px;
  padding: 24px 10px 24px 38px;
}

.header_logo_content {
  font-size: 28px;
  color: #4B89DC;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.profile_area {
  padding: 0 39px;
}

.profile_area li {
  margin-top: 30px;
}

.menu_text {
  display: inline-block;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -.8px;
  color: #303038;
}

/* .menu_text.on {
  position: relative;
  font-weight: 700;
  color: #1e1e23;
}

.menu_text.on::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #1e1e23;
  border-radius: 1px;
} */

footer {
  padding: 40px 0 67px;
}

.left_guide {
  padding-top: 30px;
  border-top: 1px solid rgba(146, 146, 148, .2);
  text-align: center;
}

.left_guide li {
  position: relative;
  display: inline-block;
}

.footer_b {
  padding-left: 13px;
}

.footer_b::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  width: 1px;
  height: 11px;
  margin-top: -5.5px;
  background-color: rgba(146, 146, 148, .3);
}

.item_arrow {
  position: relative;
  padding-right: 13px;
  display: inline-block;
}

.item_arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2px;
  background-image: url(../images/mypage.png);
  background-size: 338px 327px;
  background-position: -314px -291px;
  background-repeat: no-repeat;
  width: 7px;
  height: 4px;
}

.footer_text {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -.46px;
  color: #8c8c8c;
}