
.info01,
.exit_btn::before, 
.phone_img::before, 
.address_img::before, 
.now_pw::before, 
.edit_pw::before,
.block_img::before,
.loginRecord_img::before,
.infoEdit_img::before,
.delete_account .text::after {
  background-image: url(../images/mypage.png);
  background-size: 338px 327px;
  background-repeat: no-repeat;
}

.phone_img::before,
.address_img::before,
.now_pw::before,
.edit_pw::before,
.block_img::before,
.loginRecord_img::before,
.infoEdit_img::before {
  content: '';
  position: absolute;
  left: 0;
}

.bold01 {
  position: relative;
  font-weight: 700;
  color: #1e1e23;
}

.bold01::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #1e1e23;
  border-radius: 1px;
}

.right_container {
  display: table-cell;
  width: 100%;
  height: 100%;
  background-color: #fafbfc;
  padding: 56px 30px 0 60px;
  /* margin-top: 64px; */
}

.subRight_container {
  position: relative;
  padding: 16px 17px 0;
  border-radius: 12px;
  box-shadow: 2px 2px 14px 0 rgba(0, 164, 73, .08);
  border: solid 1px #98BBEB;
  background-color: #fff;
  box-sizing: border-box;
  width: 694px;
}

.info_title {
  position: relative;
}

.info_title h3 {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: -.4px;
  color: #848896;
}

.info01 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-position: -282px -247px;
  background-repeat: no-repeat;
  width: 19px;
  height: 20px;
  z-index: 2;
  top: 0;
  left: 0;
}

.info_toolTip {
  position: absolute;
  left: 5px;
  right: 5px;
  margin-top: 5px;
  padding: 13px 33px 13px 13px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .06);
  border: solid 1px #cfdce6;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 11;
  margin: 5px -16px 0;
}

.exit_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
}

.exit_btn::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-position: -270px -192px;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.info_head {
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -.8px;
  color: #747783;
  padding-top: 12px;
}

.info_desc {
  display: block;
  padding-top: 2px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -.8px;
  color: #848896;
}

.info_area {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid rgba(220,227,233,.8);
}

.name_text {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -.63px;
  color: #1c1c1c;
  word-break: break-all;
}

.email_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: normal;
  color: #848896;
  word-break: break-all;
}

.input_position_container {
  position: relative;
}

.input_container {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(220,227,233,.8);
  padding: 12px 0 12px 30px;
}

.sp_btwn {
  justify-content: space-between;
}

.input_title {
  display: inline-block;
  width: 152px;
  color: #2e2e2e;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -.8px;
  position: relative;
}

.required {
  color: red;
}

.btn_switch {
  position: relative;
  float: right;
  padding-top: 2px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

#toggle_btn {
  position: absolute;
  top: 2px;
  right: 0;
  width: 40px;
  height: 18px;
  border-radius: 0;
  border: 1px;
  background: 0 0;
  -moz-appearance: none;
  appearance: none;
  outline: 1px;
  text-decoration: none;
  cursor: default;
  -webkit-text-size-adjust: none;
  margin: 0;
}

.switch_btn {
  display: block;
  position: relative;
  width: 45px;
  height: 20px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #848896;
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
}

.switch_btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  transition: 0.3s;
  box-sizing: border-box;
}

.switch_on {
  display: none;
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -.3px;
  color: #fff;
  vertical-align: middle;
}

.switch_off {
  display: inline-block;
  padding-right: 5px;
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -.3px;
  color: #fff;
  vertical-align: middle;
}

.input_A {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
}

#address {
  width: 174px;
}

#address_detail {
  width: 200px;
  margin-left: 10px;
}

.phone_img,
.address_img,
.now_pw,
.edit_pw,
.block_img {
  position: relative;
}

.now_pw::before {
  background-position: -77px -273px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.edit_pw::before {
  background-position: -282px -195px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.address_img::before {
  background-position: -282px -91px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.phone_img::before {
  background-position: -282px -117px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  /* top: 12px; */
}

.block_img::before {
  background-position: -314px -27px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.loginRecord_img::before {
  background-position: -314px -52px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.infoEdit_img::before {
  background-position: -181px -273px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.input_phoneNumber {
  width: 90px;
  /* margin-right: 10px; */
}

.betweenNumber {
  margin: 0 3px;
}

.name_btn {
  position: absolute;
  right: 0;
  top: 2px;
  display: inline-block;
  min-width: 44px;
  padding: 2px 9px;
  border-radius: 4px;
  border: solid 1px #dbdde4;
  background-color: #f6f6f8;
  box-sizing: border-box;
  text-align: center;
}

.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -.47px;
  color: #747783;
}

.edit_btn_parent {
  text-align: end;
  margin-right: 21px;
  margin-top: 10px;  
}

.edit_btn {
  position: relative;
  height: 29px;
}

.content01 {
  position: absolute;
  bottom: 6px;
  color: red;
  /* margin-top: 5px; */
  font-size: 15px;
}

.sub_title_container {
  padding-top: 24px;
}

.sub_title {
  display: inline;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -.2px;
  color: #2e2e2e;
}

.subRight_02 {
  padding: 0 17px;
  margin-top: 6px;
}

.delete_account {
  padding: 24px 0 24px 18px;
}

.delete_account .text {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: normal;
  color: #b7bbc9;
}

.delete_account .text::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  background-position: -270px -217px;
  background-repeat: no-repeat;
  width: 6px;
  height: 10px;
}


/* @media (min-width: 1200px) {
  .right_container {
    width: 694px;
  }
} */

@media (min-width: 1024px) {

}