* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular", sans-serif;
  color: #333;
  /* overflow: hidden; */
  /* background-color: #fafbfc; */
}

div {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  background: 0 0;
  font-family: "Pretendard-Regular", sans-serif;
}

input {
  font-family: "Pretendard-Regular", sans-serif;
}

input:focus {
  outline: 1px solid #4B89DC;
}

h1, h2, h3,
ul,
p,
li {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  display: inline-block;
}

label {
  cursor: pointer;
}

.wrap {
  height: 100%;
}

.wrap_02 {
  padding: 20px 20px;
  width: 100%;
}

.container_before {
  margin-bottom: 20px;
}

.container_before a .header_logo_content {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #4B89DC;
  font-size: 28px;
}

.container {
  width: 100%;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-group {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  background: white;
}

.input-box {
  margin-bottom: 10px;
}

.input-box span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.duplicateCheck {
  width: 100%;
  text-align: center;
  background-color: #6499E1;
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0 10px 0;
}

.duplicateCheck:hover {
  background-color: #6498e1e1;
}

.content01, .content02, .content03, .content04, .content05, .content06, .content07, .content08 {
  position: relative;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.content03 {
  margin-bottom: 10px;
}

.saveData {
  width: 100%;
  padding: 10px;
  background-color: #6499E1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.saveData:hover {
  background-color: #6498e1e1;
}

.saveData:disabled {
  background-color: #ccc;
  cursor: default;
}

.gender-group {
  display: flex;
  /* align-items: center;
  gap: 10px;
  justify-content: center; */
}

.gender-group input {
  margin-right: 10px; /* 라디오 버튼과 텍스트 사이 간격 조정 */
}

.gender-group input[type="radio"] {
  /* width: 30px; */
  border-radius: 0;
  border: none;
  background: 0 0;
  /* -webkit-appearance: none; */
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-size-adjust: none;
}

.gender-group label {
  font-weight: normal;
}

.radio_item {
  width: 100%;
}

.gender_select {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 0;
  border-radius: inherit;
  border: 1px solid #c6c6c6;
  font-size: 13px;
  line-height: 18px;
  color: #929294;
  text-align: center;
}

.mann {
  border-radius: 4px 0 0 4px;
}

.womann {
  border-radius: 0 4px 4px 0;
  /* border-left: none; */
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}

.radio_item input:checked+label {
  z-index: 1;
  border-color: #6499E1;
  font-weight: 500;
  color: #6499E1;
}

.birth-group {
  display: flex;
  gap: 5px;
}

/* 768px 이상일 때 */
@media (min-width: 768px) {
  .wrap_02 {
    width: 450px;
    margin: 0 auto;
  }

  .container_before a .header_logo_content {
    font-size: 32px;
  }

}