table,
thead,
tr,
th,
td {
  border-collapse: collapse;
  text-align: center;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #eee;
  background-color: #fff;
}

td, th {
  border : none;
}

table {
  width: 100%;
}

.bold03 {
  position: relative;
  font-weight: 700;
  color: #1e1e23;
}

.bold03::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #1e1e23;
  border-radius: 1px;
}

.right_container {
  display: table-cell;
  width: 100%;
  height: 100%;
  background-color: #fafbfc;
  padding: 56px 10px 0 60px;
  /* margin-top: 64px; */
}

.table_title {
  height: 54px;
  border-top: 2px solid #7EAAE6;
  border-bottom: 2px solid #7EAAE6;
}

.count {
  width: 10%;
}

.title {
  width: 44%;
}

.writer {
  width: 10%;
}

.crationDate {
  width: 13%;
}

.likeCount {
  width: 10%;
}

.tbody_data {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 54px;
}

.cont_title a {
  color: #4B89DC;
}