/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f8f8f8;
}

.container {
  width: 1000px;
  height: 100%;
  background-color: white;
  padding: 20px;
}

.container_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #03c75a;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #03c75a;
}

.form_submit {
  padding: 8px 16px;
  width: 100px;
  background-color: #03c75a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.form_submit:hover {
  background-color: #029e4a;
}

.container_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.container_content_top {
  display: flex;
}
.files_input {
  display: flex;
  width: 50%;
}

.category_select {
  display: flex;
  width: 50%;
}
.category {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: white;
  font-size: 14px;
  outline: none;
}
.container_contente_mid {
  display: flex;
  width: 100%;
  height: 240px;
  border: 1px solid #ddd;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

input[type="text"]:focus {
  border-color: #03c75a;
}

.container_mid {
  margin-top: 20px;
}

.container_mid input {
  width: 100%;
  height: 150px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  resize: none;
}

.container_mid input:focus {
  border-color: #03c75a;
}
